<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCheckServlet</servlet-name>
        <servlet-class>ProyectoTeoria1.servlets.LoginCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClientes</servlet-name>
        <servlet-class>ProyectoTeoria1.servlets.InsertClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrden</servlet-name>
        <servlet-class>ProyectoTeoria1.servlets.InsertOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmpleado</servlet-name>
        <servlet-class>ProyectoTeoria1.servlets.InsertEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProyecto</servlet-name>
        <servlet-class>ProyectoTeoria1.servlets.InsertProyecto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckServlet</servlet-name>
        <url-pattern>/LoginCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClientes</servlet-name>
        <url-pattern>/InsertClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrden</servlet-name>
        <url-pattern>/InsertOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEmpleado</servlet-name>
        <url-pattern>/InsertEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProyecto</servlet-name>
        <url-pattern>/InsertProyecto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
